.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-evenly;
  border: 0.1px solid lightgrey;
  padding: 10px 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}
.mercado-match {
  /* Keep the aspect ratio */
  object-fit: contain;
  width: 100%;
  height: 41px;
  color: #0a66c2;
  margin-right: 10px;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__search {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  border-radius: 1.6rem;
  cursor: pointer;
  border: 1px solid #c6bdbd;
}
.header__search > input {
  outline: none;
  border: none;
  background: none;
}
.header__right {
  display: flex;
}
